body {
    background-color: rgb(239, 197, 250);
}
h1 {
    font-size: 50px;
    text-align: center;
    color: blueviolet;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;

}
nav {
    text-align: center;
    display:   block;
    font-size: 24px;
}
h3, h4, ul, ol {
    color: rgb(88, 13, 120);

}